In [1]:
# Import Dependencies
import pandas as pd
import os

In [2]:
# Create a reference the CSV file desired
csv_path = os.path.join("Resources", "ufoSightings.csv")

# Read the CSV into a Pandas DataFrame
ufo_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
ufo_df.head()

C:\Users\jeff\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [3]:
# Remove the rows with missing data
clean_ufo_df = ufo_df.dropna(how="any")
clean_ufo_df.count()

datetime                66516
city                    66516
state                   66516
country                 66516
shape                   66516
duration (seconds)      66516
duration (hours/min)    66516
comments                66516
date posted             66516
latitude                66516
longitude               66516
dtype: int64

In [4]:
# Converting the "duration (seconds)" column's values to numeric
clean_ufo_df["duration (seconds)"] = pd.to_numeric(clean_ufo_df["duration (seconds)"])

C:\Users\jeff\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
# Filter the data so that only those sightings in the US are in a DataFrame
usa_ufo_df = clean_ufo_df.loc[clean_ufo_df["country"] == "us",:]

usa_ufo_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175,-73.408333

In [6]:
# Count how many sightings have occured within each state
state_counts = usa_ufo_df["state"].value_counts()
state_counts.head()

ca    8683
fl    3754
wa    3707
tx    3398
ny    2915
Name: state, dtype: int64

In [12]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_usa_df = usa_ufo_df.groupby(['state'], sort = True)

# The object returned is a "GroupBy" object and cannot be viewed normally...
# print(grouped_usa_df) <--This may not work
grouped_usa_df.count()

# In order to be visualized, a data function must be used...
grouped_usa_df.min()

,datetime,city,country,shape,duration (seconds),duration (hours/min),comments,date posted,longitude
state,,,,,,,,,
ak,1/1/2004 0:00,adak,us,changing,1.00,.5 hrs,&#39Rocket boosters&#39 over North Pole AK,1/10/2009,-176.658056
al,1/1/1972 20:00,adamsville,us,changing,0.50,0.5 seconds,&quot;I don&#39t know what the hell that is&quot;,1/10/2009,-88.342222
ar,1/1/1965 20:00,alexander,us,changing,0.20,00:15 seconds,&quot;V-Shaped&quot; object passing over Lowel...,1/10/2009,-94.540278
az,1/1/1966 17:00,aguila,us,changing,0.10,# mintues,#NAME?,1/10/2009,-114.781389
ca,1/1/1944 12:00,acampo,us,changing,0.10,20 minutes (ongoing),a bright red light coming straight fom the t...,1/10/2009,-124.262778
co,1/1/1975 20:00,aguilar,us,changed,0.50,+/- 2min.,&quot;String of Pearls&quot; White&#44 cloud ...,1/10/2009,-108.804167
ct,1/1/2009 19:00,amston (hebron),us,changing,1.00,.5 - 1 min,&quot;Black Triangle&quot; spotted in CT back ...,1/10/2009,-73.628889
dc,1/29/2012 19:20,georgetown,us,changing,4.00,10 minutes,3 objects in 15 minutes&#44 2 balls of light m...,1/12/2012,-77.062778
de,1/1/2007 0:00,bear,us,changing,1.00,0:45,&quot;Stealth&quot;,1/10/2009,-75.750000
fl,1/1/1962 8:00,alachua,us,changing,1.00,+1 hour,a ufo was orbiting mars&#33&#33&#33 ((NUFORC...,1/10/2009,-87.427500
ga,1/1/1975 19:00,acworth,us,changing,0.10,+/- 5 minutes,&quot;false dawn&quot;,1/10/2009,-85.531111
hi,1/1/1998 4:00,aiea,us,changing,1.00,0.4,09/04/94&#44 Ewa Beach HI&#44 Unidentified Spa...,1/10/2009,-159.715000
ia,1/1/1965 20:00,adair,us,changing,0.50,0:07,&#9;&#9; &#9;I was outside smoking a cigarett...,1/10/2009,-96.605556
id,1/1/1978 13:00,american falls,us,changing,0.30,+/- 5 min.,&quot;Star&quot; brightend in shy&#44 then slo...,1/10/2014,-117.016667
il,1/1/1965 17:00,abingdon,us,changing,0.01,+/- 1 minute,&#39star bright white&#39 teardrop object stre...,1/10/2009,-91.409722
in,1/1/1961 13:00,acton,us,changing,0.50,+/-15 minutes,((HOAX??)) 4th of July ufo and a image of a...,1/10/2009,-87.895000
ks,1/1/1997 7:00,abilene,us,changing,1.00,0:45,&#39X&#39 shaped&#44 fairly slow moving&#44 qu...,1/10/2009,-101.889722
ky,1/1/1986 3:00,adairville,us,changing,1.00,-6 hours cst,&quot;Baton-shaped&quot; object moving end-ove...,1/10/2009,-89.186111
la,1/1/1968 21:00,abbeville,us,changing,1.00,.30 min.,((HOAX??)) A UFO flew right over my house in ...,1/10/2009,-93.972778
ma,1/1/1980 23:30,abington,us,changing,0.50,0.5 hour,Circle,1/10/2009,-73.416667
md,1/1/1968 23:00,aberdeen,us,changing,0.30,.30 seconds,I noticed that the stars didn&#8217;t seem ri...,1/10/2009,-79.406944
me,1/1/2001 19:00,acton,us,changing,0.40,+/- 10 mins.,((NUFORC Note: Missile launch at 2055 hrs (ED...,1/10/2009,-70.981111
mi,1/1/1970 12:00,acme,us,changing,0.50,(minutes),&#9;I saw four white lights&#44 three in a row...,1/10/2009,-90.170833
mn,1/10/2006 4:00,ada,us,changing,0.33,.5-.75 minute,&quot;Chrome&quot; ball over the cliffs of St....,1/10/2009,-97.024167
mo,1/1/1970 2:00,agency,us,changing,0.50,0.5 sec.,((HOAX)) I was standing on my porch&#44 smoki...,1/10/2009,-95.516667
ms,1/1/2013 0:02,ackerman,us,changing,1.00,03 min,&quot;Satellite&quot; stops&#44 flases and dis...,1/10/2009,-91.403056
mt,1/1/1963 22:00,alberton,us,changing,1.00,0:10:00,I looked forward and noticed in the upper rig...,1/10/2009,-115.888611
nc,1/1/1982 20:00,aberdeen,us,changing,0.05,+/- 1minute,&quot;Moon Lander&quot; Shaped UFO Stormy day.,1/10/2009,-84.034722
nd,1/1/1997 7:00,amenia,us,changing,1.00,0:45,10-25-06 Circle North Dakota 5 minutes Shi...,1/10/2009,-103.925833
ne,1/1/2003 2:00,ainsworth,us,changing,1.00,05 minutes,&quot;Burning&quot; flying object passes at le...,1/10/2009,-103.666667
nh,1/1/2013 0:15,albany,us,changing,0.50,0.5 second,((HOAX??)) A loud vibrating sound and a low f...,1/10/2009,-72.486944
nj,1/1/1968 0:00,absecon,us,changing,0.50,+/- 4 mins,&#9;I was at Union Beach at about 7:00 p.m. in...,1/10/2009,-75.516944
nm,1/1/2006 17:00,alamogordo,us,changing,0.50,-5 minutes,((NUFORC Note: Helium-filled heliostat. PD)...,1/10/2009,-109.033333
nv,1/1/2002 22:30,alamo,us,changing,0.45,+- 5 mins,&quot;Shooting Star&quot; Slows&#44 Turns&#44 ...,1/10/2009,-119.987778
ny,1/1/1975 3:00,accord,us,changing,0.05,+/- 4 minutes,I saw a brilliant white light moving. ((NUFO...,1/10/2009,-79.732778
oh,1/1/2000 3:00,aberdeen,us,changing,0.50,.5 hours,thought it was a star but then it moved becam...,1/10/2009,-84.820000
ok,1/1/1981 1:00,ada,us,changing,0.50,.5 sec,&#39&#39ON ICE PROJECT&#39&#39 - UNDERGROUND C...,1/10/2009,-102.962778
or,1/1/2000 17:00,albany,us,changing,0.01,.08 sec.,&#9;I was walking from my house&#44 the local ...,1/10/2009,-124.496111
pa,1/1/1998 1:42,abington,us,changing,0.50,.5 second,3/12/10Viewed a comet like object very bright...,1/10/2009,-80.496944
pr,1/10/1999 1:00,arecibo (just s of&#44 rural central pr),us,cigar,2.00,0:01min.,At around 8:00 pm on an Apirl evening NASA was...,1/11/2002,-67.250278
ri,1/14/2013 17:00,ashaway,us,changing,0.50,0:05,((HOAX)) flying saucer speeds by overhead whi...,1/10/2009,-71.827778
sc,1/1/1995 15:00,abbeville,us,changing,0.50,-3 min,$ bright lights over Atlantic Ocean flying in ...,1/10/2009,-83.096667
sd,1/12/2013 21:00,aberdeen,us,changing,1.50,1 1/2 seconds,&quot; A bright light was seen in the sky and ...,1/10/2009,-103.858889
tn,1/1/1973 23:30,adams,us,changing,1.00,0.05 minutes,&quot;My friend and I seen this pure white bal...,1/10/2009,-90.048889
tx,1/1/1957 21:00,abilene,us,changing,0.50,+30 min,&quot;Black Triangle&quot; UFO with 3 White Li...,1/10/2009,-106.486389
ut,1/1/2011 0:07,alpine,us,changing,0.50,0.5 seconds,&quot;Clear &#44 Jellyfish&quot; type object,1/10/2009,-114.036667
va,1/1/2007 21:30,abingdon,us,changing,1.00,0:00:15,&quot;Bat-wing&quot; aircraft swiftly crosses ...,1/10/2009,-83.082222
vt,1/1/2012 0:15,arlington,us,changing,1.00,+/-5 min,((HOAX??)) 200 foot black triangle with alter...,1/10/2009,-73.340833
wa,1/1/1972 16:00,aberdeen,us,changing,0.01,+/- 2minutes,A RED Light was seen over the Highland Park a...,1/10/2009,-124.623611
wi,1/1/2003 0:30,adams,us,changing,1.00,0:01,((NUFORC Note: Date is invalid. PD))Triangl...,1/10/2009,-92.801944
wv,1/1/1956 5:30,alloy,us,changing,1.00,0:02:50,((HOAX??)) The objects were floating above a ...,1/10/2009,-82.578333
wy,1/11/2001 21:50,alcova,us,changing,1.00,0:45,&quot;V&quot; shaped craft moving north to sou...,1/10/2009,-110.962500

In [8]:
# Since "duration (seconds)" was converted to a numeric time, it can now be summed up per state
state_duration = grouped_usa_df["duration (seconds)"].sum()
state_duration.head()

state
ak     1455863.00
al      900453.50
ar    66986144.50
az    15453494.60
ca    24865571.47
Name: duration (seconds), dtype: float64

In [9]:
# Creating a new DataFrame using both duration and count
state_summary_table = pd.DataFrame({"Number of Sightings":state_counts,
                                   "Total Visit Time":state_duration})
state_summary_table.head()

    Number of Sightings  Total Visit Time
ak                  311        1455863.00
al                  629         900453.50
ar                  578       66986144.50
az                 2362       15453494.60
ca                 8683       24865571.47

In [ ]:
# It is also possible to group a DataFrame by multiple columns
# This returns an object with multiple indexes, however, which can be harder to deal with
grouped_international_data = clean_ufo_df.groupby(['country','state'])

# Converting a GroupBy object into a DataFrame
international_duration = pd.DataFrame(grouped_international_data["duration (seconds)"].sum())
international_duration.head(10)